.main_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

header, footer {
    padding: 20px 10px;
}

header {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}